Node-RED Flows/Calibration.json
[{"id":"4d8db714.b5789","type":"tab","label":"Calibration","disabled":false,"info":""},{"id":"9dfb6eeb.f4d85","type":"mqtt in","z":"4d8db714.b5789","name":"R1821","topic":"Topics/R1821","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":80,"wires":[["c82c6eeb.e0f32"]]},{"id":"c82c6eeb.e0f32","type":"function","z":"4d8db714.b5789","name":"rawDataHarvester","func":"if (context.flow.collectData == 1) {\n    let tokens = msg.payload.split(\",\");\n    msg.payload = {\n    \tbeaconId : tokens[1],\n    \tscannerId : tokens[2],\n    \trssi : parseInt(tokens[3]),\n    \tlocationId: \"V1_28\"\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["943932f8.03af3"]]},{"id":"943932f8.03af3","type":"function","z":"4d8db714.b5789","name":"filter","func":"scannerMacs = [\n    \"F1EDAF28E08A\", \"EC72840D9AD3\", \"C400A2E19293\", \"E13B805C6CB0\", \n    \"D2B6503554D7\", \"E96AF2C858BA\", \"F69A86823B96\", \"FB2EE01C18CE\", \n    \"DF231643E227\", \"E6D9D20DD197\", \"FDAE5980F28C\", \"E43355CA8B96\", \n    \"F1307ECB3B90\", \"DD697EA75B68\", \"CD4533FFC0E1\", \"E8FD0B453DC4\", \n    \"DB8B36A69C56\"\n    ]\n    \nbeaconMacs = [\n    \"0117C55D14E4\"\n    ]\n\n// macToTagScanner = {\n//     \"F1EDAF28E08A\": \"R1821\",\n//     \"EC72840D9AD3\": \"R1823\",\n//     \"C400A2E19293\": \"R1824\",\n//     \"E13B805C6CB0\": \"R1825\",\n//     \"D2B6503554D7\": \"R1826\",\n//     \"E96AF2C858BA\": \"R1827\",\n//     \"F69A86823B96\": \"R1828\",\n//     \"FB2EE01C18CE\": \"R1829\",\n//     \"DF231643E227\": \"R1830\",\n//     \"E6D9D20DD197\": \"R1831\",\n//     \"FDAE5980F28C\": \"R1832\",\n//     \"E43355CA8B96\": \"R1833\",\n//     \"F1307ECB3B90\": \"R1834\",\n//     \"DD697EA75B68\": \"R1835\",\n//     \"CD4533FFC0E1\": \"R1836\",\n//     \"E8FD0B453DC4\": \"R1837\",\n//     \"DB8B36A69C56\": \"R1840\"\n// }\n\n// macToTagBeacon = {\n//     \"0117C55D14E4\": \"B1\"\n// }\n    \nif (scannerMacs.includes(msg.payload.scannerId) && beaconMacs.includes(msg.payload.beaconId)) {\n    // msg.payload.tagBeacon = macToTagBeacon[msg.payload.beaconId];\n    // msg.payload.tagScanner = macToTagScanner[msg.payload.scannerId];\n\n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["f33708a6.818e1","f48c8e7f.319a9"]]},{"id":"2068690b.4e624e","type":"mqtt in","z":"4d8db714.b5789","name":"R1823","topic":"Topics/R1823","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":200,"wires":[["c82c6eeb.e0f32"]]},{"id":"cf4481d5.7e6ab","type":"mqtt in","z":"4d8db714.b5789","name":"R1822","topic":"Topics/R1822","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":140,"wires":[["c82c6eeb.e0f32"]]},{"id":"27273b42.9b67fc","type":"mqtt in","z":"4d8db714.b5789","name":"R1825","topic":"Topics/R1825","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":320,"wires":[["c82c6eeb.e0f32"]]},{"id":"4b10ef0a.1dc76","type":"mqtt in","z":"4d8db714.b5789","name":"R1826","topic":"Topics/R1826","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":380,"wires":[["c82c6eeb.e0f32"]]},{"id":"c2c1e40f.34f2c","type":"mqtt in","z":"4d8db714.b5789","name":"R1824","topic":"Topics/R1824","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":260,"wires":[["c82c6eeb.e0f32"]]},{"id":"fb09afa1.902708","type":"inject","z":"4d8db714.b5789","name":"toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":980,"wires":[["3e8ce93d.2f019e"]]},{"id":"3e8ce93d.2f019e","type":"function","z":"4d8db714.b5789","name":"toggleDataCollection","func":"if (context.flow.collectData == 1) {\n    context.flow.collectData = 0;\n} else {\n    context.flow.collectData = 1;\n}","outputs":1,"noerr":0,"x":660,"y":980,"wires":[[]]},{"id":"f48c8e7f.319a9","type":"debug","z":"4d8db714.b5789","name":"show","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":520,"wires":[]},{"id":"31e7f211.0f05ce","type":"influxdb out","z":"4d8db714.b5789","influxdb":"18f339cd.8de9a6","name":"","measurement":"RSSI","precision":"ms","retentionPolicy":"","x":1070,"y":620,"wires":[]},{"id":"7e66bb81.4cd93c","type":"mqtt in","z":"4d8db714.b5789","name":"R1827","topic":"Topics/R1827","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":440,"wires":[["c82c6eeb.e0f32"]]},{"id":"5731e3f7.601504","type":"mqtt in","z":"4d8db714.b5789","name":"R1829","topic":"Topics/R1829","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":560,"wires":[["c82c6eeb.e0f32"]]},{"id":"9ab747af.3f07c","type":"mqtt in","z":"4d8db714.b5789","name":"R1828","topic":"Topics/R1828","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":500,"wires":[["c82c6eeb.e0f32"]]},{"id":"48db88b5.470668","type":"mqtt in","z":"4d8db714.b5789","name":"R1831","topic":"Topics/R1831","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":680,"wires":[["c82c6eeb.e0f32"]]},{"id":"88d79b41.a77a","type":"mqtt in","z":"4d8db714.b5789","name":"R1832","topic":"Topics/R1832","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":740,"wires":[["c82c6eeb.e0f32"]]},{"id":"137879f5.a50156","type":"mqtt in","z":"4d8db714.b5789","name":"R1830","topic":"Topics/R1830","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":620,"wires":[["c82c6eeb.e0f32"]]},{"id":"2aeda553.aa50b2","type":"mqtt in","z":"4d8db714.b5789","name":"R1834","topic":"Topics/R1834","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":860,"wires":[["c82c6eeb.e0f32"]]},{"id":"1a69fba.bba3004","type":"mqtt in","z":"4d8db714.b5789","name":"R1835","topic":"Topics/R1835","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":920,"wires":[["c82c6eeb.e0f32"]]},{"id":"2df35441.feb07c","type":"mqtt in","z":"4d8db714.b5789","name":"R1833","topic":"Topics/R1833","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":800,"wires":[["c82c6eeb.e0f32"]]},{"id":"48cd3f88.d94ec","type":"mqtt in","z":"4d8db714.b5789","name":"R1836","topic":"Topics/R1836","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":980,"wires":[["c82c6eeb.e0f32"]]},{"id":"3b1b51b7.5ed1f6","type":"mqtt in","z":"4d8db714.b5789","name":"R1838","topic":"Topics/R1838","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1100,"wires":[["c82c6eeb.e0f32"]]},{"id":"b525b43c.9e1ab","type":"mqtt in","z":"4d8db714.b5789","name":"R1839","topic":"Topics/R1839","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1160,"wires":[["c82c6eeb.e0f32"]]},{"id":"4e0a9084.7f1318","type":"mqtt in","z":"4d8db714.b5789","name":"R1837","topic":"Topics/R1837","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1040,"wires":[["c82c6eeb.e0f32"]]},{"id":"76875338.66e3a4","type":"mqtt in","z":"4d8db714.b5789","name":"R1840","topic":"Topics/R1840","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1220,"wires":[["c82c6eeb.e0f32"]]},{"id":"f33708a6.818e1","type":"function","z":"4d8db714.b5789","name":"format","func":"payload = msg.payload;\nmsg.payload = [{\n    rssi: payload.rssi\n}, {\n    beacon: payload.beaconId,\n    scanner: payload.scannerId,\n    location: payload.locationId\n}]\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":620,"wires":[["31e7f211.0f05ce"]]},{"id":"d2be2c8d.fe70a","type":"comment","z":"4d8db714.b5789","name":"IMPORTANT! Change locationId before deploying","info":"**IMPORTANT!** Change **locationId** before deploying","x":480,"y":520,"wires":[]},{"id":"4caf74d3.5c448c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18f339cd.8de9a6","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Megallen2","name":"","usetls":false,"tls":""}]