Node-RED Flows/OnlineFlow.json
[{"id":"9125ac7c.2539c","type":"tab","label":"OnlineFlow","disabled":false,"info":""},{"id":"2353e171.ab457e","type":"mqtt in","z":"9125ac7c.2539c","name":"R1821","topic":"Topics/R1821","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":60,"wires":[["fe354300.56803"]]},{"id":"fe354300.56803","type":"function","z":"9125ac7c.2539c","name":"rawDataHarvester","func":"if (context.flow.collectData == 1) {\n    let tokens = msg.payload.split(\",\");\n    msg.payload = {\n    \tbeaconId : tokens[1],\n    \tscannerId : tokens[2],\n    \trssi : parseInt(tokens[3])\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["1a4d8d8f.3c3552"]]},{"id":"1a4d8d8f.3c3552","type":"function","z":"9125ac7c.2539c","name":"filter","func":"scannerMacs = [\n    \"F1EDAF28E08A\", \"EC72840D9AD3\", \"C400A2E19293\", \"E13B805C6CB0\", \n    \"D2B6503554D7\", \"E96AF2C858BA\", \"F69A86823B96\", \"FB2EE01C18CE\", \n    \"DF231643E227\", \"E6D9D20DD197\", \"FDAE5980F28C\", \"E43355CA8B96\", \n    \"F1307ECB3B90\", \"DD697EA75B68\", \"CD4533FFC0E1\", \"E8FD0B453DC4\", \n    \"DB8B36A69C56\"\n    ]\n    \nbeaconMacs = [\n    \"0117C55D14E4\"\n    ]\n\n// macToTagScanner = {\n//     \"F1EDAF28E08A\": \"R1821\",\n//     \"EC72840D9AD3\": \"R1823\",\n//     \"C400A2E19293\": \"R1824\",\n//     \"E13B805C6CB0\": \"R1825\",\n//     \"D2B6503554D7\": \"R1826\",\n//     \"E96AF2C858BA\": \"R1827\",\n//     \"F69A86823B96\": \"R1828\",\n//     \"FB2EE01C18CE\": \"R1829\",\n//     \"DF231643E227\": \"R1830\",\n//     \"E6D9D20DD197\": \"R1831\",\n//     \"FDAE5980F28C\": \"R1832\",\n//     \"E43355CA8B96\": \"R1833\",\n//     \"F1307ECB3B90\": \"R1834\",\n//     \"DD697EA75B68\": \"R1835\",\n//     \"CD4533FFC0E1\": \"R1836\",\n//     \"E8FD0B453DC4\": \"R1837\",\n//     \"DB8B36A69C56\": \"R1840\"\n// }\n\n// macToTagBeacon = {\n//     \"0117C55D14E4\": \"B1\"\n// }\n    \nif (scannerMacs.includes(msg.payload.scannerId) && beaconMacs.includes(msg.payload.beaconId)) {\n    // msg.payload.tagBeacon = macToTagBeacon[msg.payload.beaconId];\n    // msg.payload.tagScanner = macToTagScanner[msg.payload.scannerId];\n\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["21894a40.7e7176","d6a9c19d.4fb33"]]},{"id":"1883bbfa.dd8ad4","type":"mqtt in","z":"9125ac7c.2539c","name":"R1823","topic":"Topics/R1823","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":180,"wires":[["fe354300.56803"]]},{"id":"faeec3f0.46fb","type":"mqtt in","z":"9125ac7c.2539c","name":"R1822","topic":"Topics/R1822","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":120,"wires":[["fe354300.56803"]]},{"id":"b94622b6.9d114","type":"mqtt in","z":"9125ac7c.2539c","name":"R1825","topic":"Topics/R1825","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":300,"wires":[["fe354300.56803"]]},{"id":"1a91f4b3.57d61b","type":"mqtt in","z":"9125ac7c.2539c","name":"R1826","topic":"Topics/R1826","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":360,"wires":[["fe354300.56803"]]},{"id":"e8e2dc96.81d41","type":"mqtt in","z":"9125ac7c.2539c","name":"R1824","topic":"Topics/R1824","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":240,"wires":[["fe354300.56803"]]},{"id":"e1706c26.25099","type":"inject","z":"9125ac7c.2539c","name":"toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":960,"wires":[["f94a8fe1.b72cb"]]},{"id":"f94a8fe1.b72cb","type":"function","z":"9125ac7c.2539c","name":"toggleDataCollection","func":"if (context.flow.collectData == 1) {\n    context.flow.collectData = 0;\n} else {\n    context.flow.collectData = 1;\n}","outputs":1,"noerr":0,"x":680,"y":960,"wires":[[]]},{"id":"d6a9c19d.4fb33","type":"debug","z":"9125ac7c.2539c","name":"show","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":500,"wires":[]},{"id":"14de5a77.652936","type":"influxdb out","z":"9125ac7c.2539c","influxdb":"18f339cd.8de9a6","name":"","measurement":"OnlineRSSI","precision":"ms","retentionPolicy":"","x":1130,"y":600,"wires":[]},{"id":"66a0294a.490708","type":"mqtt in","z":"9125ac7c.2539c","name":"R1827","topic":"Topics/R1827","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":420,"wires":[["fe354300.56803"]]},{"id":"e835d934.aef078","type":"mqtt in","z":"9125ac7c.2539c","name":"R1829","topic":"Topics/R1829","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":540,"wires":[["fe354300.56803"]]},{"id":"7e1e8fe1.98534","type":"mqtt in","z":"9125ac7c.2539c","name":"R1828","topic":"Topics/R1828","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":480,"wires":[["fe354300.56803"]]},{"id":"9666d001.0534e","type":"mqtt in","z":"9125ac7c.2539c","name":"R1831","topic":"Topics/R1831","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":660,"wires":[["fe354300.56803"]]},{"id":"8db0facc.03f168","type":"mqtt in","z":"9125ac7c.2539c","name":"R1832","topic":"Topics/R1832","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":720,"wires":[["fe354300.56803"]]},{"id":"2e24e46c.b761ec","type":"mqtt in","z":"9125ac7c.2539c","name":"R1830","topic":"Topics/R1830","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":600,"wires":[["fe354300.56803"]]},{"id":"4312d9c1.ca1a68","type":"mqtt in","z":"9125ac7c.2539c","name":"R1834","topic":"Topics/R1834","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":840,"wires":[["fe354300.56803"]]},{"id":"25091aa1.cf7df6","type":"mqtt in","z":"9125ac7c.2539c","name":"R1835","topic":"Topics/R1835","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":900,"wires":[["fe354300.56803"]]},{"id":"e64ca52d.3170f8","type":"mqtt in","z":"9125ac7c.2539c","name":"R1833","topic":"Topics/R1833","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":780,"wires":[["fe354300.56803"]]},{"id":"e7bc524a.0b5c6","type":"mqtt in","z":"9125ac7c.2539c","name":"R1836","topic":"Topics/R1836","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":960,"wires":[["fe354300.56803"]]},{"id":"1f18463e.b24aea","type":"mqtt in","z":"9125ac7c.2539c","name":"R1838","topic":"Topics/R1838","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1080,"wires":[["fe354300.56803"]]},{"id":"52789556.67824c","type":"mqtt in","z":"9125ac7c.2539c","name":"R1839","topic":"Topics/R1839","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1140,"wires":[["fe354300.56803"]]},{"id":"199258aa.cbc867","type":"mqtt in","z":"9125ac7c.2539c","name":"R1837","topic":"Topics/R1837","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1020,"wires":[["fe354300.56803"]]},{"id":"27d4f0d9.545cb","type":"mqtt in","z":"9125ac7c.2539c","name":"R1840","topic":"Topics/R1840","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1200,"wires":[["fe354300.56803"]]},{"id":"21894a40.7e7176","type":"function","z":"9125ac7c.2539c","name":"format","func":"payload = msg.payload;\nmsg.payload = [{\n    rssi: payload.rssi\n}, {\n    beacon: payload.beaconId,\n    scanner: payload.scannerId\n}]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":600,"wires":[["14de5a77.652936"]]},{"id":"4caf74d3.5c448c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18f339cd.8de9a6","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Megallen2","name":"","usetls":false,"tls":""}]