Node-RED Flows/SequenceFlow.json
[{"id":"e30c8625.531748","type":"tab","label":"SequenceFlow","disabled":false,"info":""},{"id":"9c1ffca5.4bb6a","type":"mqtt in","z":"e30c8625.531748","name":"R1821","topic":"Topics/R1821","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":40,"wires":[["93814bd9.909c98"]]},{"id":"93814bd9.909c98","type":"function","z":"e30c8625.531748","name":"rawDataHarvester","func":"if (context.flow.collectData == 1) {\n    let tokens = msg.payload.split(\",\");\n    msg.payload = {\n    \tbeaconId : tokens[1],\n    \tscannerId : tokens[2],\n    \trssi : parseInt(tokens[3])\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["e60f19d3.3d4368"]]},{"id":"e60f19d3.3d4368","type":"function","z":"e30c8625.531748","name":"filter","func":"scannerMacs = [\n    \"F1EDAF28E08A\", \"EC72840D9AD3\", \"C400A2E19293\", \"E13B805C6CB0\", \n    \"D2B6503554D7\", \"E96AF2C858BA\", \"F69A86823B96\", \"FB2EE01C18CE\", \n    \"DF231643E227\", \"E6D9D20DD197\", \"FDAE5980F28C\", \"E43355CA8B96\", \n    \"F1307ECB3B90\", \"DD697EA75B68\", \"CD4533FFC0E1\", \"E8FD0B453DC4\", \n    \"DB8B36A69C56\"\n    ]\n    \nbeaconMacs = [\n    \"0117C55D14E4\"\n    ]\n\n// macToTagScanner = {\n//     \"F1EDAF28E08A\": \"R1821\",\n//     \"EC72840D9AD3\": \"R1823\",\n//     \"C400A2E19293\": \"R1824\",\n//     \"E13B805C6CB0\": \"R1825\",\n//     \"D2B6503554D7\": \"R1826\",\n//     \"E96AF2C858BA\": \"R1827\",\n//     \"F69A86823B96\": \"R1828\",\n//     \"FB2EE01C18CE\": \"R1829\",\n//     \"DF231643E227\": \"R1830\",\n//     \"E6D9D20DD197\": \"R1831\",\n//     \"FDAE5980F28C\": \"R1832\",\n//     \"E43355CA8B96\": \"R1833\",\n//     \"F1307ECB3B90\": \"R1834\",\n//     \"DD697EA75B68\": \"R1835\",\n//     \"CD4533FFC0E1\": \"R1836\",\n//     \"E8FD0B453DC4\": \"R1837\",\n//     \"DB8B36A69C56\": \"R1840\"\n// }\n\n// macToTagBeacon = {\n//     \"0117C55D14E4\": \"B1\"\n// }\n    \nif (scannerMacs.includes(msg.payload.scannerId) && beaconMacs.includes(msg.payload.beaconId)) {\n    // msg.payload.tagBeacon = macToTagBeacon[msg.payload.beaconId];\n    // msg.payload.tagScanner = macToTagScanner[msg.payload.scannerId];\n\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["654b0e1.81668f","6a144825.464768"]]},{"id":"dd7e5152.02f4f","type":"mqtt in","z":"e30c8625.531748","name":"R1823","topic":"Topics/R1823","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":160,"wires":[["93814bd9.909c98"]]},{"id":"7e360c8b.107cf4","type":"mqtt in","z":"e30c8625.531748","name":"R1822","topic":"Topics/R1822","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":100,"wires":[["93814bd9.909c98"]]},{"id":"564835ea.aa2adc","type":"mqtt in","z":"e30c8625.531748","name":"R1825","topic":"Topics/R1825","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":280,"wires":[["93814bd9.909c98"]]},{"id":"9438d978.f9af88","type":"mqtt in","z":"e30c8625.531748","name":"R1826","topic":"Topics/R1826","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":340,"wires":[["93814bd9.909c98"]]},{"id":"b686f8ea.3663c8","type":"mqtt in","z":"e30c8625.531748","name":"R1824","topic":"Topics/R1824","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":220,"wires":[["93814bd9.909c98"]]},{"id":"c82165d.6bcb598","type":"inject","z":"e30c8625.531748","name":"toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":940,"wires":[["74ce4f9e.212a"]]},{"id":"74ce4f9e.212a","type":"function","z":"e30c8625.531748","name":"toggleDataCollection","func":"if (context.flow.collectData == 1) {\n    context.flow.collectData = 0;\n} else {\n    context.flow.collectData = 1;\n}","outputs":1,"noerr":0,"x":680,"y":940,"wires":[[]]},{"id":"6a144825.464768","type":"debug","z":"e30c8625.531748","name":"show","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":480,"wires":[]},{"id":"d4cbe394.4f0ad","type":"influxdb out","z":"e30c8625.531748","influxdb":"18f339cd.8de9a6","name":"","measurement":"SequenceRSSI","precision":"ms","retentionPolicy":"","x":1120,"y":580,"wires":[]},{"id":"fbbdb48a.c8c308","type":"mqtt in","z":"e30c8625.531748","name":"R1827","topic":"Topics/R1827","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":400,"wires":[["93814bd9.909c98"]]},{"id":"d24cbbfa.a3aa08","type":"mqtt in","z":"e30c8625.531748","name":"R1829","topic":"Topics/R1829","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":520,"wires":[["93814bd9.909c98"]]},{"id":"5d1058ea.657648","type":"mqtt in","z":"e30c8625.531748","name":"R1828","topic":"Topics/R1828","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":460,"wires":[["93814bd9.909c98"]]},{"id":"1aae3d2c.ca84c3","type":"mqtt in","z":"e30c8625.531748","name":"R1831","topic":"Topics/R1831","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":640,"wires":[["93814bd9.909c98"]]},{"id":"8725dd81.b0115","type":"mqtt in","z":"e30c8625.531748","name":"R1832","topic":"Topics/R1832","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":700,"wires":[["93814bd9.909c98"]]},{"id":"b69a4456.6d39e8","type":"mqtt in","z":"e30c8625.531748","name":"R1830","topic":"Topics/R1830","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":580,"wires":[["93814bd9.909c98"]]},{"id":"89033171.f05d7","type":"mqtt in","z":"e30c8625.531748","name":"R1834","topic":"Topics/R1834","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":820,"wires":[["93814bd9.909c98"]]},{"id":"5fc8e4c1.43532c","type":"mqtt in","z":"e30c8625.531748","name":"R1835","topic":"Topics/R1835","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":880,"wires":[["93814bd9.909c98"]]},{"id":"ab5d6cfb.8247","type":"mqtt in","z":"e30c8625.531748","name":"R1833","topic":"Topics/R1833","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":760,"wires":[["93814bd9.909c98"]]},{"id":"7a05d51d.a648ac","type":"mqtt in","z":"e30c8625.531748","name":"R1836","topic":"Topics/R1836","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":940,"wires":[["93814bd9.909c98"]]},{"id":"9534bb1.0de2748","type":"mqtt in","z":"e30c8625.531748","name":"R1838","topic":"Topics/R1838","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1060,"wires":[["93814bd9.909c98"]]},{"id":"5df46458.4f5b0c","type":"mqtt in","z":"e30c8625.531748","name":"R1839","topic":"Topics/R1839","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1120,"wires":[["93814bd9.909c98"]]},{"id":"f95e2c3f.04a7a","type":"mqtt in","z":"e30c8625.531748","name":"R1837","topic":"Topics/R1837","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1000,"wires":[["93814bd9.909c98"]]},{"id":"8f497a58.377728","type":"mqtt in","z":"e30c8625.531748","name":"R1840","topic":"Topics/R1840","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1180,"wires":[["93814bd9.909c98"]]},{"id":"654b0e1.81668f","type":"function","z":"e30c8625.531748","name":"format","func":"payload = msg.payload;\nmsg.payload = [{\n    rssi: payload.rssi\n}, {\n    beacon: payload.beaconId,\n    scanner: payload.scannerId\n}]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["d4cbe394.4f0ad"]]},{"id":"4caf74d3.5c448c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18f339cd.8de9a6","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Megallen2","name":"","usetls":false,"tls":""}]