Node-RED Flows/TestSetCollection.json
[{"id":"70b275f7.8165fc","type":"tab","label":"TestSetCollection","disabled":false,"info":""},{"id":"9c22fb2b.7cd908","type":"mqtt in","z":"70b275f7.8165fc","name":"R1821","topic":"Topics/R1821","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":40,"wires":[["4a6bb94e.ac1838"]]},{"id":"4a6bb94e.ac1838","type":"function","z":"70b275f7.8165fc","name":"rawDataHarvester","func":"if (context.flow.collectData == 1) {\n    let tokens = msg.payload.split(\",\");\n    msg.payload = {\n    \tbeaconId : tokens[1],\n    \tscannerId : tokens[2],\n    \trssi : parseInt(tokens[3]),\n    \tlocationId: \"T1_16\"\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["8b5b5be.f0841a8"]]},{"id":"8b5b5be.f0841a8","type":"function","z":"70b275f7.8165fc","name":"filter","func":"scannerMacs = [\n    \"F1EDAF28E08A\", \"EC72840D9AD3\", \"C400A2E19293\", \"E13B805C6CB0\", \n    \"D2B6503554D7\", \"E96AF2C858BA\", \"F69A86823B96\", \"FB2EE01C18CE\", \n    \"DF231643E227\", \"E6D9D20DD197\", \"FDAE5980F28C\", \"E43355CA8B96\", \n    \"F1307ECB3B90\", \"DD697EA75B68\", \"CD4533FFC0E1\", \"E8FD0B453DC4\", \n    \"DB8B36A69C56\"\n    ]\n    \nbeaconMacs = [\n    \"0117C55D14E4\"\n    ]\n\n// macToTagScanner = {\n//     \"F1EDAF28E08A\": \"R1821\",\n//     \"EC72840D9AD3\": \"R1823\",\n//     \"C400A2E19293\": \"R1824\",\n//     \"E13B805C6CB0\": \"R1825\",\n//     \"D2B6503554D7\": \"R1826\",\n//     \"E96AF2C858BA\": \"R1827\",\n//     \"F69A86823B96\": \"R1828\",\n//     \"FB2EE01C18CE\": \"R1829\",\n//     \"DF231643E227\": \"R1830\",\n//     \"E6D9D20DD197\": \"R1831\",\n//     \"FDAE5980F28C\": \"R1832\",\n//     \"E43355CA8B96\": \"R1833\",\n//     \"F1307ECB3B90\": \"R1834\",\n//     \"DD697EA75B68\": \"R1835\",\n//     \"CD4533FFC0E1\": \"R1836\",\n//     \"E8FD0B453DC4\": \"R1837\",\n//     \"DB8B36A69C56\": \"R1840\"\n// }\n\n// macToTagBeacon = {\n//     \"0117C55D14E4\": \"B1\"\n// }\n    \nif (scannerMacs.includes(msg.payload.scannerId) && beaconMacs.includes(msg.payload.beaconId)) {\n    // msg.payload.tagBeacon = macToTagBeacon[msg.payload.beaconId];\n    // msg.payload.tagScanner = macToTagScanner[msg.payload.scannerId];\n\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["10ed1c2.f5cc0e4","9abcaada.008158"]]},{"id":"f8206176.04797","type":"mqtt in","z":"70b275f7.8165fc","name":"R1823","topic":"Topics/R1823","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":160,"wires":[["4a6bb94e.ac1838"]]},{"id":"20339fa2.2c329","type":"mqtt in","z":"70b275f7.8165fc","name":"R1822","topic":"Topics/R1822","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":100,"wires":[["4a6bb94e.ac1838"]]},{"id":"1cbc2b8a.42b684","type":"mqtt in","z":"70b275f7.8165fc","name":"R1825","topic":"Topics/R1825","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":280,"wires":[["4a6bb94e.ac1838"]]},{"id":"8d957f62.a8149","type":"mqtt in","z":"70b275f7.8165fc","name":"R1826","topic":"Topics/R1826","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":340,"wires":[["4a6bb94e.ac1838"]]},{"id":"f204c8c6.69a468","type":"mqtt in","z":"70b275f7.8165fc","name":"R1824","topic":"Topics/R1824","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":220,"wires":[["4a6bb94e.ac1838"]]},{"id":"1681c4d3.0a173b","type":"inject","z":"70b275f7.8165fc","name":"toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":940,"wires":[["e0f08a09.0af828"]]},{"id":"e0f08a09.0af828","type":"function","z":"70b275f7.8165fc","name":"toggleDataCollection","func":"if (context.flow.collectData == 1) {\n    context.flow.collectData = 0;\n} else {\n    context.flow.collectData = 1;\n}","outputs":1,"noerr":0,"x":680,"y":940,"wires":[[]]},{"id":"9abcaada.008158","type":"debug","z":"70b275f7.8165fc","name":"show","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":480,"wires":[]},{"id":"a92317a7.34f1c8","type":"influxdb out","z":"70b275f7.8165fc","influxdb":"18f339cd.8de9a6","name":"","measurement":"TestRSSI","precision":"ms","retentionPolicy":"","x":1110,"y":580,"wires":[]},{"id":"e51535ad.300d28","type":"mqtt in","z":"70b275f7.8165fc","name":"R1827","topic":"Topics/R1827","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":400,"wires":[["4a6bb94e.ac1838"]]},{"id":"93ce73c0.5d20b","type":"mqtt in","z":"70b275f7.8165fc","name":"R1829","topic":"Topics/R1829","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":520,"wires":[["4a6bb94e.ac1838"]]},{"id":"c5348368.1ac7f","type":"mqtt in","z":"70b275f7.8165fc","name":"R1828","topic":"Topics/R1828","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":460,"wires":[["4a6bb94e.ac1838"]]},{"id":"fe7a2751.037f58","type":"mqtt in","z":"70b275f7.8165fc","name":"R1831","topic":"Topics/R1831","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":640,"wires":[["4a6bb94e.ac1838"]]},{"id":"2667543b.2d73cc","type":"mqtt in","z":"70b275f7.8165fc","name":"R1832","topic":"Topics/R1832","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":700,"wires":[["4a6bb94e.ac1838"]]},{"id":"db2ffac.520e808","type":"mqtt in","z":"70b275f7.8165fc","name":"R1830","topic":"Topics/R1830","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":580,"wires":[["4a6bb94e.ac1838"]]},{"id":"5366b2f2.12b25c","type":"mqtt in","z":"70b275f7.8165fc","name":"R1834","topic":"Topics/R1834","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":820,"wires":[["4a6bb94e.ac1838"]]},{"id":"dee75100.877ef","type":"mqtt in","z":"70b275f7.8165fc","name":"R1835","topic":"Topics/R1835","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":880,"wires":[["4a6bb94e.ac1838"]]},{"id":"5603112.bdc7ef","type":"mqtt in","z":"70b275f7.8165fc","name":"R1833","topic":"Topics/R1833","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":760,"wires":[["4a6bb94e.ac1838"]]},{"id":"d5dc181c.e04f78","type":"mqtt in","z":"70b275f7.8165fc","name":"R1836","topic":"Topics/R1836","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":940,"wires":[["4a6bb94e.ac1838"]]},{"id":"ca025a35.b23448","type":"mqtt in","z":"70b275f7.8165fc","name":"R1838","topic":"Topics/R1838","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1060,"wires":[["4a6bb94e.ac1838"]]},{"id":"85783535.c77948","type":"mqtt in","z":"70b275f7.8165fc","name":"R1839","topic":"Topics/R1839","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1120,"wires":[["4a6bb94e.ac1838"]]},{"id":"12644abb.299ff5","type":"mqtt in","z":"70b275f7.8165fc","name":"R1837","topic":"Topics/R1837","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1000,"wires":[["4a6bb94e.ac1838"]]},{"id":"f39186c9.27d408","type":"mqtt in","z":"70b275f7.8165fc","name":"R1840","topic":"Topics/R1840","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":90,"y":1180,"wires":[["4a6bb94e.ac1838"]]},{"id":"10ed1c2.f5cc0e4","type":"function","z":"70b275f7.8165fc","name":"format","func":"payload = msg.payload;\nmsg.payload = [{\n    rssi: payload.rssi\n}, {\n    beacon: payload.beaconId,\n    scanner: payload.scannerId,\n    location: payload.locationId\n}]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["a92317a7.34f1c8"]]},{"id":"f6387a09.587018","type":"comment","z":"70b275f7.8165fc","name":"IMPORTANT! Change locationId before deploying","info":"**IMPORTANT!** Change **locationId** before deploying","x":500,"y":480,"wires":[]},{"id":"4caf74d3.5c448c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18f339cd.8de9a6","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Megallen2","name":"","usetls":false,"tls":""}]