Node-RED Flows/TestConnection.json
[{"id":"d01bde23.269db","type":"tab","label":"TestConnection","disabled":false,"info":""},{"id":"8b272385.164e3","type":"mqtt in","z":"d01bde23.269db","name":"R1821","topic":"Topics/R1821","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":80,"wires":[["20954b3.68fffb4"]]},{"id":"20954b3.68fffb4","type":"function","z":"d01bde23.269db","name":"rawDataHarvester","func":"if (context.flow.collectData == 1) {\n    let tokens = msg.payload.split(\",\");\n    msg.payload = {\n    \tbeaconId : tokens[1],\n    \tscannerId : tokens[2],\n    \trssi : parseInt(tokens[3]),\n    \tlocationId: \"V1_32\"\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["3a5bcf67.b19db"]]},{"id":"3a5bcf67.b19db","type":"function","z":"d01bde23.269db","name":"filter","func":"scannerMacs = [\n    \"F1EDAF28E08A\", \"EC72840D9AD3\", \"C400A2E19293\", \"E13B805C6CB0\", \n    \"D2B6503554D7\", \"E96AF2C858BA\", \"F69A86823B96\", \"FB2EE01C18CE\", \n    \"DF231643E227\", \"E6D9D20DD197\", \"FDAE5980F28C\", \"E43355CA8B96\", \n    \"F1307ECB3B90\", \"DD697EA75B68\", \"CD4533FFC0E1\", \"E8FD0B453DC4\", \n    \"DB8B36A69C56\"\n    ]\n    \nbeaconMacs = [\n    \"0117C55D14E4\"\n    ]\n\n// macToTagScanner = {\n//     \"F1EDAF28E08A\": \"R1821\",\n//     \"EC72840D9AD3\": \"R1823\",\n//     \"C400A2E19293\": \"R1824\",\n//     \"E13B805C6CB0\": \"R1825\",\n//     \"D2B6503554D7\": \"R1826\",\n//     \"E96AF2C858BA\": \"R1827\",\n//     \"F69A86823B96\": \"R1828\",\n//     \"FB2EE01C18CE\": \"R1829\",\n//     \"DF231643E227\": \"R1830\",\n//     \"E6D9D20DD197\": \"R1831\",\n//     \"FDAE5980F28C\": \"R1832\",\n//     \"E43355CA8B96\": \"R1833\",\n//     \"F1307ECB3B90\": \"R1834\",\n//     \"DD697EA75B68\": \"R1835\",\n//     \"CD4533FFC0E1\": \"R1836\",\n//     \"E8FD0B453DC4\": \"R1837\",\n//     \"DB8B36A69C56\": \"R1840\"\n// }\n\n// macToTagBeacon = {\n//     \"0117C55D14E4\": \"B1\"\n// }\n    \nif (scannerMacs.includes(msg.payload.scannerId) && beaconMacs.includes(msg.payload.beaconId)) {\n    // msg.payload.tagBeacon = macToTagBeacon[msg.payload.beaconId];\n    // msg.payload.tagScanner = macToTagScanner[msg.payload.scannerId];\n\n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["4cbf8d22.b74b14","7ba7b1c8.d2631"]]},{"id":"6aba3aa6.66c064","type":"mqtt in","z":"d01bde23.269db","name":"R1823","topic":"Topics/R1823","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":200,"wires":[["20954b3.68fffb4"]]},{"id":"c9c5f132.7e934","type":"mqtt in","z":"d01bde23.269db","name":"R1822","topic":"Topics/R1822","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":140,"wires":[["20954b3.68fffb4"]]},{"id":"1f38f379.6f99cd","type":"mqtt in","z":"d01bde23.269db","name":"R1825","topic":"Topics/R1825","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":320,"wires":[["20954b3.68fffb4"]]},{"id":"f3e2fe4a.4b4bf","type":"mqtt in","z":"d01bde23.269db","name":"R1826","topic":"Topics/R1826","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":380,"wires":[["20954b3.68fffb4"]]},{"id":"dac9c26c.4ca85","type":"mqtt in","z":"d01bde23.269db","name":"R1824","topic":"Topics/R1824","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":260,"wires":[["20954b3.68fffb4"]]},{"id":"d1d3dff2.201b","type":"inject","z":"d01bde23.269db","name":"toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":980,"wires":[["4e53248b.44262c"]]},{"id":"4e53248b.44262c","type":"function","z":"d01bde23.269db","name":"toggleDataCollection","func":"if (context.flow.collectData == 1) {\n    context.flow.collectData = 0;\n} else {\n    context.flow.collectData = 1;\n}","outputs":1,"noerr":0,"x":660,"y":980,"wires":[[]]},{"id":"7ba7b1c8.d2631","type":"debug","z":"d01bde23.269db","name":"show","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":520,"wires":[]},{"id":"d36f69cd.645d68","type":"influxdb out","z":"d01bde23.269db","influxdb":"18f339cd.8de9a6","name":"","measurement":"test","precision":"ms","retentionPolicy":"","x":1090,"y":620,"wires":[]},{"id":"27bc571f.c1fa38","type":"mqtt in","z":"d01bde23.269db","name":"R1827","topic":"Topics/R1827","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":440,"wires":[["20954b3.68fffb4"]]},{"id":"3eb69f95.8cffa","type":"mqtt in","z":"d01bde23.269db","name":"R1829","topic":"Topics/R1829","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":560,"wires":[["20954b3.68fffb4"]]},{"id":"cbaed7a5.7c7868","type":"mqtt in","z":"d01bde23.269db","name":"R1828","topic":"Topics/R1828","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":500,"wires":[["20954b3.68fffb4"]]},{"id":"67a6c326.163c8c","type":"mqtt in","z":"d01bde23.269db","name":"R1831","topic":"Topics/R1831","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":680,"wires":[["20954b3.68fffb4"]]},{"id":"68d2df8a.4c674","type":"mqtt in","z":"d01bde23.269db","name":"R1832","topic":"Topics/R1832","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":740,"wires":[["20954b3.68fffb4"]]},{"id":"b088ef80.495ff","type":"mqtt in","z":"d01bde23.269db","name":"R1830","topic":"Topics/R1830","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":620,"wires":[["20954b3.68fffb4"]]},{"id":"fb7d5b0.cb5ada8","type":"mqtt in","z":"d01bde23.269db","name":"R1834","topic":"Topics/R1834","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":860,"wires":[["20954b3.68fffb4"]]},{"id":"5980f1ce.25a81","type":"mqtt in","z":"d01bde23.269db","name":"R1835","topic":"Topics/R1835","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":920,"wires":[["20954b3.68fffb4"]]},{"id":"f9fb975f.9f34c8","type":"mqtt in","z":"d01bde23.269db","name":"R1833","topic":"Topics/R1833","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":800,"wires":[["20954b3.68fffb4"]]},{"id":"e599ec8b.e01a4","type":"mqtt in","z":"d01bde23.269db","name":"R1836","topic":"Topics/R1836","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":980,"wires":[["20954b3.68fffb4"]]},{"id":"afd27d67.b03ef","type":"mqtt in","z":"d01bde23.269db","name":"R1838","topic":"Topics/R1838","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1100,"wires":[["20954b3.68fffb4"]]},{"id":"ecc2514d.2709","type":"mqtt in","z":"d01bde23.269db","name":"R1839","topic":"Topics/R1839","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1160,"wires":[["20954b3.68fffb4"]]},{"id":"39afccf6.45d304","type":"mqtt in","z":"d01bde23.269db","name":"R1837","topic":"Topics/R1837","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1040,"wires":[["20954b3.68fffb4"]]},{"id":"e4122a63.1ba898","type":"mqtt in","z":"d01bde23.269db","name":"R1840","topic":"Topics/R1840","qos":"0","datatype":"auto","broker":"4caf74d3.5c448c","x":70,"y":1220,"wires":[["20954b3.68fffb4"]]},{"id":"4cbf8d22.b74b14","type":"function","z":"d01bde23.269db","name":"format","func":"payload = msg.payload;\nmsg.payload = [{\n    rssi: payload.rssi\n}, {\n    beacon: payload.beaconId,\n    scanner: payload.scannerId,\n    location: payload.locationId\n}]\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":620,"wires":[["d36f69cd.645d68"]]},{"id":"4582dbdb.18ced4","type":"comment","z":"d01bde23.269db","name":"IMPORTANT! Change locationId before deploying","info":"**IMPORTANT!** Change **locationId** before deploying","x":480,"y":520,"wires":[]},{"id":"4caf74d3.5c448c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18f339cd.8de9a6","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Megallen2","name":"","usetls":false,"tls":""}]